@font-face {
  font-family: "iconfont"; /* Project id 4102004 */
  src: url('../fonts/iconfont.woff2?t=1685734062281') format('woff2'),
       url('../fonts/iconfont.woff?t=1685734062281') format('woff'),
       url('../fonts/iconfont.ttf?t=1685734062281') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxi-zhihui:before {
  content: "\e61d";
}

.icon-xihuan:before {
  content: "\e61e";
}

.icon-kaitongfuwu:before {
  content: "\e61f";
}

.icon-fenxiang:before {
  content: "\e620";
}

