.box {
  width: 100px;
  height: 100px;
  background-color: red;
}

.box6 {
  width: 100px;
  height: 100px;
  background-image: url(../images/1684721783382.jpg);
  background-size: cover;
}

.df {
  display: flex;
}
